@using Bit.BlazorUI
@using BitTodo.Shared.Infra
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http;
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode

@namespace BitTodo.Client.Web.Pages
@inject IHttpContextAccessor ContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var isElectron = BlazorModeDetector.Current.IsBlazorElectron();
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isSpa = WebAppDeploymentTypeDetector.Current.IsSpa();
    var isPwa = WebAppDeploymentTypeDetector.Current.IsPwa();
    var isSpaPrerendered = WebAppDeploymentTypeDetector.Current.IsSpaPrerendered();
    var isPwaPrerendered = WebAppDeploymentTypeDetector.Current.IsPwaPrerendered();
    var isPrerenderedOnly = WebAppDeploymentTypeDetector.Current.IsPrerenderedOnly();

    var request = ContextAccessor?.HttpContext?.Request;
    var noPrerender = (request?.Query["no-prerender"].Count ?? 0) > 0;

    RenderMode renderMode = RenderMode.Static;
    if (isPrerenderedOnly is false)
    {
        if (isBlazorServer)
        {
            renderMode = isSpa || isPwa || noPrerender ? RenderMode.Server : RenderMode.ServerPrerendered;
        }
        else
        {
            renderMode = isSpa || isPwa || noPrerender ? RenderMode.WebAssembly : RenderMode.WebAssemblyPrerendered;
        }
    }

    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        if (request?.ShouldRenderStaticMode() is true)
        {
            renderMode = RenderMode.Static;
            isPrerenderedOnly = true;
        }
    }
}

<!DOCTYPE html>
<html dir="rtl" bit-theme="dark">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="theme-color">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The BitTodo is built with ASP.NET Core, Identity, Web API, and EF Core for the server-side, and Blazor for the client-side. It allows you to build Android, iOS, Windows, and Web applications from a single codebase." />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version=true>
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    @if (isPwa || isPwaPrerendered)
    {
        <link rel="manifest" href="manifest.json">
    }
    @if (isElectron)
    {
        <style>
            * {
                -webkit-user-drag: none;
                overscroll-behavior: none;
            }

                *:not(input) {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
        </style>
    }
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Home 2 – Bacola – Grocery Market and Food Theme</title>
<meta name="robots" content="noindex, nofollow">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link href="https://fonts.gstatic.com" crossorigin="" rel="preconnect">
<link rel="alternate" type="application/rss+xml" title="Bacola - Grocery Market and Food Theme » Feed" href="https://klbtheme.com/bacola/feed/">
<link rel="alternate" type="application/rss+xml" title="Bacola - Grocery Market and Food Theme » Comments Feed" href="https://klbtheme.com/bacola/comments/feed/">
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel="stylesheet" id="wp-block-library-rtl-css" href="https://klbtheme.com/bacola/wp-includes/css/dist/block-library/style-rtl.min.css?ver=6.3.1" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-active-filters-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/active-filters-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-add-to-cart-form-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/add-to-cart-form-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-packages-style-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/packages-style-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-all-products-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/all-products-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-all-reviews-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/all-reviews-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-attribute-filter-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/attribute-filter-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-breadcrumbs-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/breadcrumbs-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-catalog-sorting-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/catalog-sorting-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-customer-account-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/customer-account-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-featured-category-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/featured-category-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-featured-product-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/featured-product-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-mini-cart-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/mini-cart-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-price-filter-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/price-filter-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-add-to-cart-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-add-to-cart-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-button-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-button-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-categories-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-categories-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-image-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-image-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-image-gallery-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-image-gallery-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-query-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-query-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-results-count-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-results-count-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-reviews-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-reviews-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-sale-badge-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-sale-badge-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-search-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-search-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-sku-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-sku-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-stock-indicator-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-stock-indicator-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-summary-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-summary-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-title-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-title-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-rating-filter-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/rating-filter-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-reviews-by-category-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/reviews-by-category-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-reviews-by-product-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/reviews-by-product-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-product-details-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/product-details-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-single-product-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/single-product-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-stock-filter-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/stock-filter-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-cart-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/cart-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-checkout-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/checkout-rtl.css?ver=10.6.6" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-mini-cart-contents-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/mini-cart-contents-rtl.css?ver=10.6.6" type="text/css" media="all">
<style id="classic-theme-styles-inline-css" type="text/css">
/*! This file is auto-generated */
.wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}
</style>
<style id="global-styles-inline-css" type="text/css">
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}body .is-layout-grid{display: grid;}body .is-layout-grid > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel="stylesheet" id="contact-form-7-css" href="https://klbtheme.com/bacola/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.8" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/contact-form-7/includes/css/styles-rtl.css?ver=5.8" type="text/css" media="all">
<style id="woocommerce-inline-inline-css" type="text/css">
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel="stylesheet" id="klb-single-ajax-css" href="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/single-ajax/css/single-ajax.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="klb-notice-ajax-css" href="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/notice-ajax/css/notice-ajax.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="klb-back-to-top-css" href="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/back-to-top/css/back-to-top.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="klbtheme-swatches-css" href="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/swatches/css/swatches.css?ver=6.3.1" type="text/css" media="all">
<link rel="stylesheet" id="klb-free-shipping-css" href="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/shipping-progress-bar/css/free-shipping.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="bacola-ajax-search-css" href="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/ajax-search/css/ajax-search.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="hint-css" href="https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/libs/hint/hint.min.css?ver=6.3.1" type="text/css" media="all">
<link rel="stylesheet" id="perfect-scrollbar-css" href="https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/libs/perfect-scrollbar/css/perfect-scrollbar.min.css?ver=6.3.1" type="text/css" media="all">
<link rel="stylesheet" id="perfect-scrollbar-wpc-css" href="https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/libs/perfect-scrollbar/css/custom-theme.css?ver=6.3.1" type="text/css" media="all">
<link rel="stylesheet" id="woosc-frontend-css" href="https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/css/frontend.css?ver=6.1.3" type="text/css" media="all">
<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" id="tinvwl-webfont-font-css" href="https://klbtheme.com/bacola/wp-content/plugins/ti-woocommerce-wishlist/assets/fonts/tinvwl-webfont.woff2?ver=xu2uyi" media="all">
<link rel="stylesheet" id="tinvwl-webfont-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/ti-woocommerce-wishlist/assets/css/webfont-rtl.min.css?ver=2.7.4" type="text/css" media="all">
<link rel="stylesheet" id="tinvwl-rtl-css" href="https://klbtheme.com/bacola/wp-content/plugins/ti-woocommerce-wishlist/assets/css/public-rtl.min.css?ver=2.7.4" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="https://klbtheme.com/bacola/wp-content/themes/bacola/assets/css/bootstrap.min.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="select2-css" href="https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/css/select2.css?ver=8.0.3" type="text/css" media="all">
<link rel="stylesheet" id="bacola-base-rtl-css" href="https://klbtheme.com/bacola/wp-content/themes/bacola/assets/css/base-rtl.css?ver=1.0" type="text/css" media="all">
<link rel="stylesheet" id="bacola-font-dmsans-css" href="//fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;subset=latin,latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="bacola-font-crimson-css" href="//fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&amp;subset=latin,latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="bacola-style-rtl-css" href="https://klbtheme.com/bacola/wp-content/themes/bacola/style-rtl.css?ver=6.3.1" type="text/css" media="all">
<link rel="stylesheet" id="elementor-icons-css" href="https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.21.0" type="text/css" media="all">
<link rel="stylesheet" id="elementor-frontend-css" href="https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/css/frontend-rtl.min.css?ver=3.15.3" type="text/css" media="all">
<style id="elementor-frontend-inline-css" type="text/css">
.elementor-kit-11{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1200px;}.e-con{--container-max-width:1200px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}@@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}
.elementor-773 .elementor-element.elementor-element-e42c515{margin-top:25px;margin-bottom:10px;}.elementor-773 .elementor-element.elementor-element-30b4823{margin-top:0px;margin-bottom:0px;}.elementor-773 .elementor-element.elementor-element-9ea341f .banner-wrapper{background-color:#f8efea;}.elementor-773 .elementor-element.elementor-element-58048eb{margin-top:10px;margin-bottom:10px;}.elementor-773 .elementor-element.elementor-element-603ad1c .module-banner .banner-content .entry-title{color:#3e445a;}.elementor-773 .elementor-element.elementor-element-603ad1c .module-banner .banner-content .entry-text{color:#9b9bb4;}.elementor-773 .elementor-element.elementor-element-5c49655 .module-banner .banner-content .entry-title{color:#3e445a;}.elementor-773 .elementor-element.elementor-element-5c49655 .module-banner .banner-content .entry-text{color:#9b9bb4;}.elementor-773 .elementor-element.elementor-element-a8b9331{margin-top:10px;margin-bottom:10px;}.elementor-773 .elementor-element.elementor-element-b674649{margin-top:10px;margin-bottom:10px;}.elementor-773 .elementor-element.elementor-element-846758b .module-banner .banner-content .entry-title{color:#3e445a;}.elementor-773 .elementor-element.elementor-element-846758b .module-banner .banner-content .discount-text , .elementor-773 .elementor-element.elementor-element-846758b .module-banner .banner-content .entry-subtitle.xlight{color:#00b853;}.elementor-773 .elementor-element.elementor-element-846758b .module-banner .banner-content .entry-text{color:#9b9bb4;}.elementor-773 .elementor-element.elementor-element-e3baded .module-banner .banner-content .entry-title{color:#3e445a;}.elementor-773 .elementor-element.elementor-element-e3baded .module-banner .banner-content .discount-text , .elementor-773 .elementor-element.elementor-element-e3baded .module-banner .banner-content .entry-subtitle.xlight{color:#00b853;}.elementor-773 .elementor-element.elementor-element-e3baded .module-banner .banner-content .entry-text{color:#9b9bb4;}.elementor-773 .elementor-element.elementor-element-284dee1 .module-banner .banner-content .entry-title{color:#3e445a;}.elementor-773 .elementor-element.elementor-element-284dee1 .module-banner .banner-content .discount-text , .elementor-773 .elementor-element.elementor-element-284dee1 .module-banner .banner-content .entry-subtitle.xlight{color:#00b853;}.elementor-773 .elementor-element.elementor-element-284dee1 .module-banner .banner-content .entry-text{color:#9b9bb4;}.elementor-773 .elementor-element.elementor-element-30bf4b4{margin-top:10px;margin-bottom:10px;}.elementor-773 .elementor-element.elementor-element-4475b98 .module-banner.simple-text a{background-color:#FFEEF2;}.elementor-773 .elementor-element.elementor-element-4475b98 .module-purchase-banner a{background-color:#FFEEF2;}.elementor-773 .elementor-element.elementor-element-4475b98 .module-body .purchase-text , .elementor-773 .elementor-element.elementor-element-4475b98 .module-body a{color:#ED174A;}.elementor-773 .elementor-element.elementor-element-8af7efa > .elementor-element-populated{padding:15px 15px 0px 15px;}body.elementor-page-773 .container{max-width:1200px;}body.elementor-page-773 .elementor-section.elementor-section-boxed>.elementor-container{max-width:1200px;}
</style>
<link rel="stylesheet" id="swiper-css" href="https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/lib/swiper/css/swiper.min.css?ver=5.3.6" type="text/css" media="all">
<link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=auto&amp;ver=6.3.1" type="text/css" media="all">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""><script type="text/template" id="tmpl-variation-template">
	<div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
	<div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
	<div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
	<p>Sorry, this product is unavailable. Please choose a different combination.</p>
</script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-includes/js/jquery/jquery.min.js?ver=3.7.0" id="jquery-core-js"></script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/single-ajax/js/single-ajax.js?ver=1.0" id="klb-single-ajax-js"></script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/notice-ajax/js/notice-ajax.js?ver=1.0" id="klb-notice-ajax-js"></script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/back-to-top/js/back-to-top.js?ver=1.0" id="klb-back-to-top-js"></script>
<script type="text/javascript" id="bacola-ajax-search-js-extra">
/* <![CDATA[ */
var bacolasearch = {"ajaxurl":"https:\/\/klbtheme.com\/bacola\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/ajax-search/js/ajax-search.js?ver=1.0" id="bacola-ajax-search-js"></script>
<script type="text/javascript" src="https://klbtheme.com/bacola/wp-content/themes/bacola/includes/pjax/js/helpers.js?ver=1.0" id="pjax-helpers-js"></script>
<link rel="https://api.w.org/" href="https://klbtheme.com/bacola/wp-json/"><link rel="alternate" type="application/json" href="https://klbtheme.com/bacola/wp-json/wp/v2/pages/773"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://klbtheme.com/bacola/xmlrpc.php?rsd">
<meta name="generator" content="WordPress 6.3.1">
<meta name="generator" content="WooCommerce 8.0.3">
<link rel="canonical" href="https://klbtheme.com/bacola/home-2/">
<link rel="shortlink" href="https://klbtheme.com/bacola/?p=773">
<link rel="alternate" type="application/json+oembed" href="https://klbtheme.com/bacola/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fklbtheme.com%2Fbacola%2Fhome-2%2F">
<link rel="alternate" type="text/xml+oembed" href="https://klbtheme.com/bacola/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fklbtheme.com%2Fbacola%2Fhome-2%2F&amp;format=xml">

<style type="text/css">



@@media(max-width:64rem){
	header.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}	
}


@@media(max-width:64rem){
	.single .single-content .product-type-simple form.cart {
	    position: fixed;
	    bottom: 0;
	    right: 0;
	    z-index: 9999;
	    background: #fff;
	    margin-bottom: 0;
	    padding: 15px;
	    -webkit-box-shadow: 0 -2px 5px rgb(0 0 0 / 7%);
	    box-shadow: 0 -2px 5px rgb(0 0 0 / 7%);
	    justify-content: space-between;
	}

	.single .woocommerce-variation-add-to-cart {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    position: fixed;
	    bottom: 0;
	    right: 0;
	    z-index: 9999;
	    background: #fff;
	    margin-bottom: 0;
	    padding: 15px;
	    -webkit-box-shadow: 0 -2px 5px rgb(0 0 0 / 7%);
	    box-shadow: 0 -2px 5px rgb(0 0 0 / 7%);
	    justify-content: space-between;
    	width: 100%;
		flex-wrap: wrap;
	}
}


:root {
    --color-primary: #233a95;
}

:root {
    --color-secondary: #2bbef9;
}







.site-header .header-top  {
	background-color: ;
	color:#3e445a;
}

.header-main.header-wrapper , .site-header .header-nav {
	background-color: #ffffff;
}

.site-header .header-top .site-menu .menu .menu-item:hover > a {
	color:#2bbef9;
}

.site-location a  {
	background-color: #ffffff;
	color:#3e445a;
	border-color:#d9d9e9;
}

.site-location a:hover  {
	background-color: #ffffff;
	color:#3e445a;
	border-color:#d9d9e9;
}

.site-location a .current-location{
	color:#233a95;
}

.site-location a .current-location:hover{
	color:#233a95;
}

.site-location a:after{
	color:#233a95;
}

.site-header .header-main .header-search .dgwt-wcas-search-form input[type="search"]  {
	background-color: #f3f4f7;
	color:#202435;
	border-color:#f3f4f7;
}

.dgwt-wcas-sf-wrapp:after{
	color:#202435;
}

.site-header .header-buttons .header-login.bordered .button-icon{
	background-color:#ffffff;
	border-color:#e2e4ec;
	
}

.site-header .header-buttons .header-login.bordered .button-icon i{
	color:#3e445a;
}

.header-cart .cart-price bdi{
	color:#202435;
}

@@media screen and (min-width: 48rem){
	.site-header .header-buttons .bordered.header-cart .button-icon{
		background-color:#fff1ee;
		border-color:#fff1ee;	
	}
}

@@media screen and (min-width: 48rem){
	.site-header .header-buttons .bordered.header-cart .button-icon i{
		color:#ea2b0f;
	}
}

.site-header .header-buttons .cart-count-icon{
	background-color:#ea2b0f;
	color:#ffffff;	
}

.menu-list li.link-parent > a{
	color:#3e445a;	
}

.menu-list li.link-parent > a:hover{
	color:#2bbef9;	
}

.site-header .all-categories .dropdown-categories{
	background-color:#ffffff;
	border-color:#e4e5ee;	
}

.site-header .all-categories > a{
	background-color:#2bbef9;
	color:#ffffff;
}

.site-header .all-categories > a i , .site-header .all-categories > a:after{
	color:#ffffff;	
}

.site-header .all-categories > a .description{
	background-color:;
	border-color:#ffffff;	
	color:;
}

.site-header .primary-menu .menu > .menu-item > a , .site-header .primary-menu .menu .sub-menu .menu-item > a{
	color:#3e445a;
}

.site-header .primary-menu .menu > .menu-item > a:hover , .site-header .primary-menu .menu .sub-menu .menu-item:hover > a , .site-header .primary-menu .menu > .menu-item:hover > a{
	color:#2bbef9;
}

.site-footer .footer-iconboxes{
	background-color:#f7f8fd;
}

.site-footer .footer-iconboxes .iconbox{
	color:#000000;	
}

.site-footer .footer-iconboxes .iconbox:hover{
	color:#000000;	
}

.site-footer .footer-widgets{
	background-color:#f7f8fd;
}

.klbfooterwidget ul a{
	color:#71778e}

.klbfooterwidget ul a:hover{
	color:#71778e}

.klbfooterwidget h4.widget-title{
	color:#202435}

.klbfooterwidget h4.widget-title:hover{
	color:#202435}

.site-footer .footer-contacts .site-phone .phone-icon{
	background-color:;
	color:#202435}

.site-footer .footer-contacts .site-phone .entry-title , .site-footer .footer-contacts .site-mobile-app .app-content .entry-title{
	color:#202435}

.site-footer .footer-contacts .site-phone .entry-title:hover , .site-footer .footer-contacts .site-mobile-app .app-content .entry-title:hover{
	color:}

.site-footer .footer-contacts .site-phone span , .site-footer .footer-contacts .site-mobile-app .app-content span{
	color:#202435}

.site-footer .footer-contacts .site-phone span:hover , .site-footer .footer-contacts .site-mobile-app .app-content span:hover{
	color:}

.site-social ul a{
	background-color:#ffffff;
	color:#233a95}

.site-footer .footer-contacts{
	background-color:#ffffff;
}

.site-footer .footer-bottom{
	background-color:#ffffff;
}

.site-copyright , .site-footer .footer-bottom .footer-menu li a{
	color:#9b9bb4}

.site-copyright:hover , .site-footer .footer-bottom .footer-menu li a:hover{
	color:#9b9bb4}

.site-footer .footer-subscribe{
	background-color:;
	color:}

.site-footer .footer-subscribe .entry-subtitle:hover , .site-footer .footer-subscribe .entry-title:hover , .site-footer .footer-subscribe .entry-teaser p:hover, .site-footer .footer-subscribe .form-wrapper:hover{
	color:}


.site-header .header-mobile-nav .menu-item a span{
	color:}

.site-header .header-mobile-nav .menu-item a span:hover{
	color:}

.site-header .header-mobile-nav .menu-item a i{
	color:}

.site-header .header-mobile-nav .menu-item a i:hover{
	color:}

.site-header .header-mobile-nav{
	background-color:;
}

.site-header .primary-menu .menu > .menu-item.current-menu-item > a{
	color:#2bbef9;
}		

.site-header .primary-menu .menu > .menu-item.current-menu-item > a,
.site-header .primary-menu .menu > .menu-item:hover > a{
	background-color:#f0faff;
}

.site-canvas .canvas-menu .menu .menu-item a{
	color:;
}

.site-canvas .canvas-menu .menu .menu-item.active > a{
	color:;
}

.site-canvas .canvas-menu .menu .menu-item + .menu-item,
.site-canvas .canvas-menu{
	border-color:;
}

.site-canvas .canvas-footer .site-copyright{
	color:;
}

.site-canvas .canvas-title .entry-title{
	color:;
}



</style>
	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	<meta name="generator" content="Elementor 3.15.3; features: e_dom_optimization, e_optimized_assets_loading, additional_custom_breakpoints; settings: css_print_method-internal, google_font-enabled, font_display-auto">
<link rel="icon" href="https://klbtheme.com/bacola/wp-content/uploads/2021/08/favicon.png" sizes="32x32">
<link rel="icon" href="https://klbtheme.com/bacola/wp-content/uploads/2021/08/favicon.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://klbtheme.com/bacola/wp-content/uploads/2021/08/favicon.png">
<meta name="msapplication-TileImage" content="https://klbtheme.com/bacola/wp-content/uploads/2021/08/favicon.png">
<style id="kirki-inline-styles">.site-header .header-main .site-brand img.desktop-logo{width:164px;}.site-header .header-main .site-brand img.mobile-logo{width:93px;}.site-canvas .canvas-header .site-brand img{width:127px;}.site-header .header-top{font-size:12px;}.site-header .header-mobile-nav .menu-item a span{font-size:10px;}</style><link rel="prefetch" href="https://klbtheme.com/bacola/product/perdue-simply-smart-organics-gluten-free-breaded-chicken-breast-nuggets/"><link rel="prefetch" href="https://klbtheme.com/bacola/"><link rel="prefetch" href="https://klbtheme.com/bacola/shop/">

</head>

<body class="rtl archive post-type-archive post-type-archive-product theme-bacola woocommerce-shop woocommerce woocommerce-page woocommerce-no-js tinvwl-theme-style bacola-ajax-shop-on elementor-default elementor-kit-11">
    <div id="app-container">
        @if (isSpa || isPwa || noPrerender)
        {
            <component type="typeof(BitTodo.Client.Core.Shared.LoadingComponent)" param-Color="@("#000")" render-mode="@RenderMode.Static" />
        }
        <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.css" asp-append-version=true />
        <link rel="stylesheet" href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" asp-append-version=true />
        <link rel="stylesheet" href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" asp-append-version=true />
        <link rel="stylesheet" href="_content/BitTodo.Client.Core/styles/app.css" asp-append-version=true />
        <link href="_content/BitTodo.Client.Core/BitTodo.Client.Core.bundle.scp.css" rel="stylesheet" asp-append-version=true />

        @RenderBody()

        <div class="site-overlay"></div>

        <script>            (function () {
                function maybePrefixUrlField() {
                    const value = this.value.trim()
                    if (value !== '' && value.indexOf('http') !== 0) {
                        this.value = 'http://' + value
                    }
                }

                const urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]')
                for (let j = 0; j < urlFields.length; j++) {
                    urlFields[j].addEventListener('blur', maybePrefixUrlField)
                }
            })();
        </script>
        <a href="#" class="scrollToTop" aria-label="Scroll to top button"></a>
        <div class="select-location">
            <div class="select-location-wrapper">
                <h6 class="entry-title">Choose your Delivery Location</h6>
                <div class="entry-description">Enter your address and we will specify the offer for your area.</div>
                <div class="close-popup"><i class="klbth-icon-x"></i></div>
                <!-- close-popup -->
                <div class="search-location">
                    <select size="8" name="site-area" class="site-area" id="site-area" data-placeholder="Search your area">
                        <option value="all" data-min="Clear All">Select a Location</option>
                        <option value="alabama" data-min="Min: $130">Alabama</option>
                        <option value="alaska" data-min="Min: $120">Alaska</option>
                        <option value="arizona" data-min="Min: $150">Arizona</option>
                        <option value="california" data-min="Min: $110">California</option>
                        <option value="colorado" data-min="Min: $140">Colorado</option>
                        <option value="florida" data-min="Min: $160">Florida</option>
                        <option value="georgia" data-min="Min: $120">Georgia</option>
                        <option value="kansas" data-min="Min: $170">Kansas</option>
                        <option value="minnesota" data-min="Min: $120">Minnesota</option>
                        <option value="new-york" data-min="Min: $110">New York</option>
                        <option value="washington" data-min="Min: $130">Washington</option>
                    </select>
                </div>
                <!-- search-location -->
            </div>
            <!-- select-location-wrapper -->
            <div class="location-overlay"></div>
        </div>
        <!-- select-location -->
        <div class="woosc-popup woosc-search">
            <div class="woosc-popup-inner">
                <div class="woosc-popup-content">
                    <div class="woosc-popup-content-inner">
                        <div class="woosc-popup-close"></div>
                        <div class="woosc-search-input">
                            <input type="search" id="woosc_search_input" placeholder="Type any keyword to search..." />
                        </div>
                        <div class="woosc-search-result"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="woosc-popup woosc-settings">
            <div class="woosc-popup-inner">
                <div class="woosc-popup-content">
                    <div class="woosc-popup-content-inner">
                        <div class="woosc-popup-close"></div>
                        <ul class="woosc-settings-tools">
                            <li>
                                <label><input type="checkbox" class="woosc-settings-tool" value="hide_similarities" id="woosc_hide_similarities" /> Hide similarities                                                </label>
                            </li>
                            <li>
                                <label><input type="checkbox" class="woosc-settings-tool" value="highlight_differences" id="woosc_highlight_differences" /> Highlight differences                                                </label>
                            </li>
                        </ul>
                        Select the fields to be shown. Others will be hidden. Drag and drop to rearrange the order.
                        <ul class="woosc-settings-fields">
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="6aal" checked /><span class="move">Image</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="ssmj" checked /><span class="move">SKU</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="qwoyfg" checked /><span class="move">Rating</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="1aj2" checked /><span class="move">Price</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="9nrc" checked /><span class="move">Stock</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="xic7" checked /><span class="move">Availability</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="0yq4" checked /><span class="move">Add to cart</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="2jx7" checked /><span class="move">Description</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="vvey" checked /><span class="move">Content</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="le1b" checked /><span class="move">Weight</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="1e9l" checked /><span class="move">Dimensions</span></li>
                            <li class="woosc-settings-field-li"><input type="checkbox" class="woosc-settings-field" value="hb5y" checked /><span class="move">Additional information</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="woosc-popup woosc-share">
            <div class="woosc-popup-inner">
                <div class="woosc-popup-content">
                    <div class="woosc-popup-content-inner">
                        <div class="woosc-popup-close"></div>
                        <div class="woosc-share-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="woosc-area" class="woosc-area woosc-bar-bottom woosc-bar-right woosc-bar-click-outside-yes woosc-hide-checkout" data-bg-color="#292a30" data-btn-color="#00a0d2">
            <div class="woosc-inner">
                <div class="woosc-table">
                    <div class="woosc-table-inner">
                        <a href="#close" id="woosc-table-close" class="woosc-table-close hint--left" aria-label="Close"><span class="woosc-table-close-icon"></span></a>
                        <div class="woosc-table-items"></div>
                    </div>
                </div>
                <div class="woosc-bar">
                    <div class="woosc-bar-notice">
                        Click outside to hide the comparison bar
                    </div>
                    <a href="#print" class="woosc-bar-print hint--top" aria-label="Print"></a>
                    <a href="#share" class="woosc-bar-share hint--top" aria-label="Share"></a>
                    <a href="#search" class="woosc-bar-search hint--top" aria-label="Add product"></a>
                    <div class="woosc-bar-items"></div>
                    <div class="woosc-bar-btn woosc-bar-btn-text">
                        <div class="woosc-bar-btn-icon-wrapper">
                            <div class="woosc-bar-btn-icon-inner">
                                <span></span><span></span><span></span>
                            </div>
                        </div>
                        Compare
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script id="tmpl-rwmb-media-item" type="text/html">
        <input type="hidden" name="{{{ data.controller.fieldName }}}" value="{{{ data.id }}}" class="rwmb-media-input">
        <div class="rwmb-file-icon">
            <# if ( data.sizes ) { #>
                <# if ( data.sizes.thumbnail ) { #>
                    <img src="{{{ data.sizes.thumbnail.url }}}">
                <# } else { #>
                    <img src="{{{ data.sizes.full.url }}}">
                <# } #>
            <# } else { #>
                <# if ( data.image && data.image.src && data.image.src !== data.icon ) { #>
                    <img src="{{ data.image.src }}" />
                <# } else { #>
                    <img src="{{ data.icon }}" />
                <# } #>
            <# } #>
        </div>
        <div class="rwmb-file-info">
            <a href="{{{ data.url }}}" class="rwmb-file-title" target="_blank">
                <# if( data.title ) { #>
                    {{{ data.title }}}
                <# } else { #>
                    {{{ i18nRwmbMedia.noTitle }}}
                <# } #>
            </a>
            <div class="rwmb-file-name">{{{ data.filename }}}</div>
            <div class="rwmb-file-actions">
                <a class="rwmb-edit-media" title="{{{ i18nRwmbMedia.edit }}}" href="{{{ data.editLink }}}" target="_blank">
                    {{{ i18nRwmbMedia.edit }}}
                </a>
                <a href="#" class="rwmb-remove-media" title="{{{ i18nRwmbMedia.remove }}}">
                    {{{ i18nRwmbMedia.remove }}}
                </a>
            </div>
        </div>
    </script>

    <script id="tmpl-rwmb-media-status" type="text/html">
        <# if ( data.maxFiles > 0 ) { #>
            {{{ data.length }}}/{{{ data.maxFiles }}}
            <# if ( 1 < data.maxFiles ) { #>{{{ i18nRwmbMedia.multiple }}}<# } else {#>{{{ i18nRwmbMedia.single }}}<# } #>
        <# } #>
    </script>

    <script id="tmpl-rwmb-media-button" type="text/html">
        <a class="button">{{{ data.text }}}</a>
    </script>

    <script id="tmpl-rwmb-image-item" type="text/html">
        <input type="hidden" name="{{{ data.controller.fieldName }}}" value="{{{ data.id }}}" class="rwmb-media-input">
        <div class="rwmb-file-icon">
            <# if ( 'image' === data.type && data.sizes ) { #>
                <# if ( data.sizes[data.controller.imageSize] ) { #>
                    <img src="{{{ data.sizes[data.controller.imageSize].url }}}">
                <# } else { #>
                    <img src="{{{ data.sizes.full.url }}}">
                <# } #>
            <# } else { #>
                <# if ( data.image && data.image.src && data.image.src !== data.icon ) { #>
                    <img src="{{ data.image.src }}" />
                <# } else { #>
                    <img src="{{ data.icon }}" />
                <# } #>
            <# } #>
        </div>
        <div class="rwmb-image-overlay"></div>
        <div class="rwmb-image-actions">
            <a class="rwmb-image-edit rwmb-edit-media" title="{{{ i18nRwmbMedia.edit }}}" href="{{{ data.editLink }}}" target="_blank">
                <span class="dashicons dashicons-edit"></span>
            </a>
            <a href="#" class="rwmb-image-delete rwmb-remove-media" title="{{{ i18nRwmbMedia.remove }}}">
                <span class="dashicons dashicons-no-alt"></span>
            </a>
        </div>
    </script>
    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.8' id='swv-js'></script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "api": { "root": "https:\/\/klbtheme.com\/bacola\/wp-json\/", "namespace": "contact-form-7\/v1" }, "cached": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.8' id='contact-form-7-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.8.0.3' id='jquery-blockui-js'></script>
    <script type='text/javascript' id='wc-add-to-cart-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/bacola\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/bacola\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/klbtheme.com\/bacola\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=8.0.3' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.8.0.3' id='js-cookie-js'></script>
    <script type='text/javascript' id='woocommerce-js-extra'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/bacola\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/bacola\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=8.0.3' id='woocommerce-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/underscore.min.js?ver=1.13.4' id='underscore-js'></script>
    <script type='text/javascript' id='wp-util-js-extra'>
        /* <![CDATA[ */
        var _wpUtilSettings = { "ajax": { "url": "\/bacola\/wp-admin\/admin-ajax.php" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/wp-util.min.js?ver=6.3.1' id='wp-util-js'></script>
    <script type='text/javascript' id='wc-add-to-cart-variation-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_variation_params = { "wc_ajax_url": "\/bacola\/?wc-ajax=%%endpoint%%", "i18n_no_matching_variations_text": "Sorry, no products matched your selection. Please choose a different combination.", "i18n_make_a_selection_text": "Please select some product options before adding this product to your cart.", "i18n_unavailable_text": "Sorry, this product is unavailable. Please choose a different combination." };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=8.0.3' id='wc-add-to-cart-variation-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/bacola-core/woocommerce-filter/swatches/js/swatches.js?ver=1.0' id='klbtheme-swatches-js'></script>
    <script id="rocket-browser-checker-js-after" type="text/javascript">
        "use strict"; var _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || !1, descriptor.configurable = !0, "value" in descriptor && (descriptor.writable = !0), Object.defineProperty(target, descriptor.key, descriptor) } } return function (Constructor, protoProps, staticProps) { return protoProps && defineProperties(Constructor.prototype, protoProps), staticProps && defineProperties(Constructor, staticProps), Constructor } }(); function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) throw new TypeError("Cannot call a class as a function") } var RocketBrowserCompatibilityChecker = function () { function RocketBrowserCompatibilityChecker(options) { _classCallCheck(this, RocketBrowserCompatibilityChecker), this.passiveSupported = !1, this._checkPassiveOption(this), this.options = !!this.passiveSupported && options } return _createClass(RocketBrowserCompatibilityChecker, [{ key: "_checkPassiveOption", value: function (self) { try { var options = { get passive() { return !(self.passiveSupported = !0) } }; window.addEventListener("test", null, options), window.removeEventListener("test", null, options) } catch (err) { self.passiveSupported = !1 } } }, { key: "initRequestIdleCallback", value: function () { !1 in window && (window.requestIdleCallback = function (cb) { var start = Date.now(); return setTimeout(function () { cb({ didTimeout: !1, timeRemaining: function () { return Math.max(0, 50 - (Date.now() - start)) } }) }, 1) }), !1 in window && (window.cancelIdleCallback = function (id) { return clearTimeout(id) }) } }, { key: "isDataSaverModeOn", value: function () { return "connection" in navigator && !0 === navigator.connection.saveData } }, { key: "supportsLinkPrefetch", value: function () { var elem = document.createElement("link"); return elem.relList && elem.relList.supports && elem.relList.supports("prefetch") && window.IntersectionObserver && "isIntersecting" in IntersectionObserverEntry.prototype } }, { key: "isSlowConnection", value: function () { return "connection" in navigator && "effectiveType" in navigator.connection && ("2g" === navigator.connection.effectiveType || "slow-2g" === navigator.connection.effectiveType) } }]), RocketBrowserCompatibilityChecker }();
    </script>
    <script type='text/javascript' id='rocket-preload-links-js-extra'>
        /* <![CDATA[ */
        var RocketPreloadLinksConfig = { "excludeUris": "\/bacola(\/wishlist\/|\/dashboard\/|\/(?:.+\/)?feed(?:\/(?:.+\/?)?)?$|\/(?:.+\/)?embed\/|\/checkout\/??(.*)|\/cart\/?|\/my-account\/??(.*)|\/wc-api\/v(.*)|http:\/\/(\/%5B\/%5D+)?\/(index.php\/)?(.*)wp-json(\/.*|$))|\/refer\/|\/go\/|\/recommend\/|\/recommends\/", "usesTrailingSlash": "1", "imageExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|pdf|doc|docx|xls|xlsx|php", "fileExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|pdf|doc|docx|xls|xlsx|php|html|htm", "siteUrl": "https:\/\/klbtheme.com\/bacola", "onHoverDelay": "100", "rateThrottle": "3" };
        /* ]]> */
    </script>
    <script id="rocket-preload-links-js-after" type="text/javascript">
        (function () {
            "use strict"; var r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) { return typeof e } : function (e) { return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e }, e = function () { function i(e, t) { for (var n = 0; n < t.length; n++) { var i = t[n]; i.enumerable = i.enumerable || !1, i.configurable = !0, "value" in i && (i.writable = !0), Object.defineProperty(e, i.key, i) } } return function (e, t, n) { return t && i(e.prototype, t), n && i(e, n), e } }(); function i(e, t) { if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function") } var t = function () { function n(e, t) { i(this, n), this.browser = e, this.config = t, this.options = this.browser.options, this.prefetched = new Set, this.eventTime = null, this.threshold = 1111, this.numOnHover = 0 } return e(n, [{ key: "init", value: function () { !this.browser.supportsLinkPrefetch() || this.browser.isDataSaverModeOn() || this.browser.isSlowConnection() || (this.regex = { excludeUris: RegExp(this.config.excludeUris, "i"), images: RegExp(".(" + this.config.imageExt + ")$", "i"), fileExt: RegExp(".(" + this.config.fileExt + ")$", "i") }, this._initListeners(this)) } }, { key: "_initListeners", value: function (e) { -1 < this.config.onHoverDelay && document.addEventListener("mouseover", e.listener.bind(e), e.listenerOptions), document.addEventListener("mousedown", e.listener.bind(e), e.listenerOptions), document.addEventListener("touchstart", e.listener.bind(e), e.listenerOptions) } }, { key: "listener", value: function (e) { var t = e.target.closest("a"), n = this._prepareUrl(t); if (null !== n) switch (e.type) { case "mousedown": case "touchstart": this._addPrefetchLink(n); break; case "mouseover": this._earlyPrefetch(t, n, "mouseout") } } }, { key: "_earlyPrefetch", value: function (t, e, n) { var i = this, r = setTimeout(function () { if (r = null, 0 === i.numOnHover) setTimeout(function () { return i.numOnHover = 0 }, 1e3); else if (i.numOnHover > i.config.rateThrottle) return; i.numOnHover++, i._addPrefetchLink(e) }, this.config.onHoverDelay); t.addEventListener(n, function e() { t.removeEventListener(n, e, { passive: !0 }), null !== r && (clearTimeout(r), r = null) }, { passive: !0 }) } }, { key: "_addPrefetchLink", value: function (i) { return this.prefetched.add(i.href), new Promise(function (e, t) { var n = document.createElement("link"); n.rel = "prefetch", n.href = i.href, n.onload = e, n.onerror = t, document.head.appendChild(n) }).catch(function () { }) } }, { key: "_prepareUrl", value: function (e) { if (null === e || "object" !== (void 0 === e ? "undefined" : r(e)) || !1 in e || -1 === ["http:", "https:"].indexOf(e.protocol)) return null; var t = e.href.substring(0, this.config.siteUrl.length), n = this._getPathname(e.href, t), i = { original: e.href, protocol: e.protocol, origin: t, pathname: n, href: t + n }; return this._isLinkOk(i) ? i : null } }, { key: "_getPathname", value: function (e, t) { var n = t ? e.substring(this.config.siteUrl.length) : e; return n.startsWith("/") || (n = "/" + n), this._shouldAddTrailingSlash(n) ? n + "/" : n } }, { key: "_shouldAddTrailingSlash", value: function (e) { return this.config.usesTrailingSlash && !e.endsWith("/") && !this.regex.fileExt.test(e) } }, { key: "_isLinkOk", value: function (e) { return null !== e && "object" === (void 0 === e ? "undefined" : r(e)) && (!this.prefetched.has(e.href) && e.origin === this.config.siteUrl && -1 === e.href.indexOf("?") && -1 === e.href.indexOf("#") && !this.regex.excludeUris.test(e.href) && !this.regex.images.test(e.href)) } }], [{ key: "run", value: function () { "undefined" != typeof RocketPreloadLinksConfig && new n(new RocketBrowserCompatibilityChecker({ capture: !0, passive: !0 }), RocketPreloadLinksConfig).init() } }]), n }(); t.run();
        }());
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/libs/print/jQuery.print.js?ver=6.1.3' id='print-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/libs/table-head-fixer/table-head-fixer.js?ver=6.1.3' id='table-head-fixer-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js?ver=6.1.3' id='perfect-scrollbar-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/jquery/ui/core.min.js?ver=1.13.2' id='jquery-ui-core-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/jquery/ui/mouse.min.js?ver=1.13.2' id='jquery-ui-mouse-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/jquery/ui/sortable.min.js?ver=1.13.2' id='jquery-ui-sortable-js'></script>
    <script type='text/javascript' id='woosc-frontend-js-extra'>
        /* <![CDATA[ */
        var woosc_vars = { "ajax_url": "https:\/\/klbtheme.com\/bacola\/wp-admin\/admin-ajax.php", "nonce": "edac63ad66", "hash": "6", "user_id": "0cdb64fab32a05bd393b20c8c351de9f", "page_url": "#", "open_button": "", "open_button_action": "open_popup", "menu_action": "open_popup", "button_action": "show_table", "sidebar_position": "right", "message_position": "right-top", "message_added": "{name} has been added to Compare list.", "message_removed": "{name} has been removed from the Compare list.", "message_exists": "{name} is already in the Compare list.", "open_bar": "no", "bar_bubble": "no", "adding": "prepend", "click_again": "no", "hide_empty": "no", "click_outside": "yes", "freeze_column": "yes", "freeze_row": "yes", "scrollbar": "yes", "limit": "100", "remove_all": "Do you want to remove all products from the compare?", "limit_notice": "You can add a maximum of {limit} products to the comparison table.", "copied_text": "Share link %s was copied to clipboard!", "button_text": "Compare", "button_text_added": "Compare", "button_normal_icon": "woosc-icon-1", "button_added_icon": "woosc-icon-74" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woo-smart-compare/assets/js/frontend.js?ver=6.1.3' id='woosc-frontend-js'></script>
    <script type='text/javascript' id='wc-cart-fragments-js-extra'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/bacola\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/bacola\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_564040bf48d33b828959432b692ab93a", "fragment_name": "wc_fragments_564040bf48d33b828959432b692ab93a", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=8.0.3' id='wc-cart-fragments-js'></script>
    <script type='text/javascript' id='tinvwl-js-extra'>
        /* <![CDATA[ */
        var tinvwl_add_to_wishlist = { "text_create": "Create New", "text_already_in": "{product_name} already in Wishlist", "simple_flow": "", "hide_zero_counter": "", "i18n_make_a_selection_text": "Please select some product options before adding this product to your wishlist.", "tinvwl_break_submit": "No items or actions are selected.", "tinvwl_clipboard": "Copied!", "allow_parent_variable": "", "block_ajax_wishlists_data": "", "update_wishlists_data": "", "hash_key": "ti_wishlist_data_564040bf48d33b828959432b692ab93a", "nonce": "a40f28a2d9", "rest_root": "https:\/\/klbtheme.com\/bacola\/wp-json\/", "plugin_url": "https:\/\/klbtheme.com\/bacola\/wp-content\/plugins\/ti-woocommerce-wishlist\/", "wc_ajax_url": "\/bacola\/?wc-ajax=tinvwl", "stats": "", "popup_timer": "6000" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/ti-woocommerce-wishlist/assets/js/public.min.js?ver=2.7.4' id='tinvwl-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/comment-reply.min.js?ver=6.3.1' id='comment-reply-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/bootstrap.bundle.min.js?ver=1.0' id='bootstrap-bundle-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/select2.full.min.js?ver=1.0' id='select2-full-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/vendor/gsap.min.js?ver=1.0' id='gsap-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/vendor/jquery.magnific-popup.min.js?ver=1.0' id='jquery-magnific-popup-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/vendor/perfect-scrollbar.min.js?ver=1.0' id='perfect-scrolllbar-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/vendor/slick.min.js?ver=1.0' id='slick-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/sidebarfilter.js?ver=1.0' id='bacola-sidebarfilter-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/productSorting.js?ver=1.0' id='bacola-productsorting-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/productHover.js?ver=1.0' id='bacola-producthover-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/cartquantity.js?ver=1.0' id='bacola-cartquantity-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/sitescroll.js?ver=1.0' id='bacola-sitescroll-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/bundle.js?ver=1.0' id='bacola-bundle-js'></script>
    <script type='text/javascript' id='bacola-quick-ajax-js-extra'>
        /* <![CDATA[ */
        var MyAjax = { "ajaxurl": "https:\/\/klbtheme.com\/bacola\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/quick_ajax.js?ver=1.0.0' id='bacola-quick-ajax-js'></script>
    <script type='text/javascript' id='bacola-quantity_button-js-extra'>
        /* <![CDATA[ */
        var quantity = { "notice": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/quantity_button.js?ver=1.0.0' id='bacola-quantity_button-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/themes/bacola/assets/js/custom/variationform.js?ver=1.0.0' id='clotya-variationform-js'></script>
    <script type='text/javascript' defer src='https://klbtheme.com/bacola/wp-content/plugins/mailchimp-for-wp/assets/js/forms.js?ver=4.9.7' id='mc4wp-forms-api-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1-wc.8.0.3' id='jquery-cookie-js'></script>
    <script type='text/javascript' id='klb-location-filter-js-extra'>
        /* <![CDATA[ */
        var locationfilter = { "popup": "" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/bacola-core/taxonomy/js/location-filter.js?ver=6.3.1' id='klb-location-filter-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.15.3' id='elementor-webpack-runtime-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.15.3' id='elementor-frontend-modules-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
    <script id="elementor-frontend-js-before" type="text/javascript">
        var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close", "a11yCarouselWrapperAriaLabel": "Carousel | Horizontal scrolling: Arrow Left & Right", "a11yCarouselPrevSlideMessage": "Previous slide", "a11yCarouselNextSlideMessage": "Next slide", "a11yCarouselFirstSlideMessage": "This is the first slide", "a11yCarouselLastSlideMessage": "This is the last slide", "a11yCarouselPaginationBulletMessage": "Go to slide" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile Portrait", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Landscape", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet Portrait", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Landscape", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.15.3", "is_static": false, "experimentalFeatures": { "e_dom_optimization": true, "e_optimized_assets_loading": true, "additional_custom_breakpoints": true, "landing-pages": true }, "urls": { "assets": "https:\/\/klbtheme.com\/bacola\/wp-content\/plugins\/elementor\/assets\/" }, "swiperClass": "swiper-container", "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 50, "title": "Bacola%20%E2%80%93%20Grocery%20Market%20and%20Food%20Theme%20%E2%80%93%20KlbTheme", "excerpt": "", "featuredImage": false } };
    </script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.15.3' id='elementor-frontend-js'></script>
    <script type='text/javascript' src='https://klbtheme.com/bacola/wp-content/plugins/bacola-core/elementor/custom-scripts.js?ver=6.3.1' id='bacola-core-custom-scripts-js'></script>


    @if (isPrerenderedOnly is false)
    {
        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version=true></script>
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version=true></script>
            @if (isPwa || isPwaPrerendered)
            {
                <script src="_content/Bit.Bswup/bit-bswup.js" log="none" asp-append-version=true></script>
                <script src="_content/Bit.Bswup/bit-bswup.progress.js" asp-append-version=true></script>

                @if (isPwaPrerendered)
                {
                    <component type="typeof(AppBswupProgressBar)" render-mode="@RenderMode.Static" />
                }
                else
                {
                    <link href="_content/Bit.Bswup/bit-bswup.progress.css" rel="stylesheet" asp-append-version=true>
                    <component type="typeof(Bit.Bswup.BswupProgress)"
                               param-AutoReload="true"
                               param-HideApp="true"
                               param-AppContainer="@("#app-container")"
                               render-mode="@RenderMode.Static" />
                }
            }
            else if (isSpa || isSpaPrerendered)
            {
                <script src="_content/Bit.Bup/bit-bup.js" asp-append-version=true></script>
                <script src="_content/Bit.Bup/bit-bup.progress.js" asp-append-version=true></script>
                @if (isSpaPrerendered)
                {
                    <component type="typeof(AppBupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
                }
                else
                {
                    <link rel="stylesheet" href="_content/Bit.Bup/bit-bup.progress.css" asp-append-version=true>
                    <component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
                               param-AutoHide="true"
                               param-HideApp="true"
                               param-AppContainer="@("#app-container")" />
                }
            }
        }
        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js" asp-append-version=true></script>
    }
    <script src="_content/BitTodo.Client.Core/scripts/app.js" asp-append-version=true></script>

    @if ((isSpaPrerendered || isPwaPrerendered) && !noPrerender)
    {
        <persist-component-state />
    }
</body>
</html>
